<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "アカウント", users_account_path, class: "nav-link link-body-emphasis" %>
  </li>
  <li class="nav-item">
    <%= link_to "プロフィール", users_profile_path, class: "nav-link link-body-emphasis" %>
  </li>
</ul>
